name: Release a distribution

on:
  #  push:
  #    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      version:
        description: The version of the release
        required: false

env:
  VERSION: ${{ inputs.version && inputs.version || format('3.0.{0}', github.run_number) }}

jobs:
  release-native:
    strategy:
      matrix:
        os:
          # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
          - 'macos-13' # x64
          - 'macos-14' # arm
          - 'windows-latest'
          - 'ubuntu-latest'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: 'true'

      - name: Build .jar file
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          FAT_JAR: "true"
        run: ./gradlew shadowJar --info --build-cache

      - name: Build native distribution
        run: ./gradlew nativeDistribution --info --build-cache

      - name: Print binaries (Unix)
        if: ${{ matrix.os != 'windows-latest' }}
        run: find build/compose/binaries/main/

      - name: Print checksums (Unix)
        if: ${{ matrix.os != 'windows-latest' }}
        run: for f in build/checksums/*; do cat $f; echo; done

      - name: Print binaries (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: Get-ChildItem -Path "build/compose/binaries/main/" -Recurse | ForEach-Object { $_.FullName }

      - name: Print checksums (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: Get-ChildItem -Path "build/checksums/" | ForEach-Object { Get-Content $_.FullName }

      - name: Release Linux+Jar
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          tag_name: ${{ env.VERSION }}
          files: |
            build/fatJar/*
            build/compose/binaries/main/*
            build/compose/binaries/main/*/*
          generate_release_notes: true

      - name: Release Non-Linux
        if: ${{ matrix.os != 'ubuntu-latest' }}
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          tag_name: ${{ env.VERSION }}
          files: |
            build/compose/binaries/main/*
            build/compose/binaries/main/*/*
          generate_release_notes: false # only the linux job will generate notes
